body{
    background-color: whitesmoke;

}
body *{
    border-color: #404040;
}



.wrapper{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 800px;
    background-color: white;
    border-style: solid;
    border-width: 10px;
    margin: 100px auto;
}
.leftHalf{
    display: flex;
    flex: 50;
    border-right-style: solid;
    border-width: 2.5px;
}
.rightHalf{
    display: flex;
    flex: 50;
    border-left-style: solid;
    border-width: 2.5px;
}
.border{
    /* width: 5px; */
    width: 5px;
    background-color: #404040;
}
.borderHorizontal{
    height: 5px;
    background-color: #404040;    
}
/* Colors */
/* Red:  #ed3833 */
/* Yellow:  #fae34c */
/* Blue:  #2c80be*/
/* Black:  #000000*/

/* Row 1 */
.row1{
    /* For the column it will add up to 10 */
    flex: 1;
    display: flex;
    border-width: 2.5px;
}
/* left half */
.a1{
    flex: 30;
    border-bottom-style: solid;
    border-width: 2.5px

}
.a2{
    flex: 40;
    border-bottom-style: solid;
    border-width: 2.5px
}
.a3{
    flex: 35;
    background-color: #fae34c;
    border-bottom-style: solid;
    border-width: 2.5px
}
/* right half */
.a4{
    flex: 30;
    background-color: #2c80be;
}
.a5{
    flex: 30;
    display: flex;
    border-bottom-style: solid;
    border-width: 2.5px
}
.a5-1{
    flex: 14.5;
    background-color: #fae34c;
}
.a6{
    flex: 14.5;
background-color: black;
}
.a7{
    flex: 41;
    border-bottom-style: solid;
    border-width: 2.5px;
}


/* Row 2 */
.row2{
    flex: 2;
    display: flex;
}
/* Inside of row 2 */
/* Left side */
.b1{
    flex: 19.5;
    border-top-style: solid;
    border-width: 2.5px;
    border-bottom-style: solid;
}
.b2{
    flex: 50.5;
    background-color:#ed3833;
    border-top-style: solid;
    border-width: 2.5px;

}
.b3{
    flex: 35;
    background-color: #fae34c;
    border-top-style: solid;
    border-width: 2.5px;
    border-bottom-style: solid;

}

/* Right side */
.b4{
    flex: 30;
    display: flex;
    flex-direction: column;
}
.b4-1{
    flex: 1;
    background-color: #2c80be;
}
.b4-2{
    flex: 1;
    background-color: #ed3833;
}
.b5{
    flex: 30;
    display: flex;
    flex-direction: column;
    border-top-style: solid;
    border-width: 2.5px;

}
.b5-1{
    flex: 1;
    background-color: #fae34c;
}

.b5-2{
    flex: 1;
    background-color: #000000;
    
}


.b6{
    flex: 25;
    border-top-style: solid;
    border-width: 2.5px;
    border-bottom-style: solid;
}
.b7{
    flex: 15;
    border-top-style: solid;
    border-width: 2.5px;
    background-color: #fae34c;
}




/* Row 3 */
.row3{
    flex: 2;
    display: flex;

}
/* LeftHalf */

.c1{
    flex: 19.5;
    border-top-style: solid;
    border-width: 2.5px;
}
.c2{
    flex: 50.5;
    background-color: #ed3833;
    border-bottom-style: solid;
    border-width: 2.5px;
}
.c3{
    flex: 35;
    display:flex;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2.5px;
}
.c3-1{
    flex: 1;


}
.c3-2{
    flex: 1;
}
/* Right Half */
.c4{
    flex: 30;
    display: flex;
    flex-direction: column;
}
.c4-1{
    flex: 1;
    background-color: #ed3833;
}
.c4-2{
    flex: 1;
    border-bottom-style: solid;
    border-width: 2.5px;
}

.c5{
    flex: 30;
    display: flex;
    flex-direction: column;
}
.c5-1{
    flex: 1;
}
.c5-2{
    flex: 1;
    border-bottom-style: solid;
    border-width: 2.5px;
}
.c6{
    flex: 25;
    background-color: #000000;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 2.5px;
}
.c7{
    flex: 15;
    display: flex;
    flex-direction: column;
}
.c7-1{
    flex: 1;
    background-color: #fae34c;
}
.c7-2{
    flex: 1
}
/* Row 4 */
.row4{
    flex: 2;
    display: flex;
}
/* Row 5 */
.row5{
    flex:2;
    display: flex;
}
.row6{
    flex:1;
    display: flex;
}




