/* The whole body */
body{
    height: auto;
    width: auto;
    display: flex;

    margin: auto;
}
/* For the header and footer */
.vertical{
    display: flex;
    flex-direction: column;

    
}
.vertical header h1, .vertical footer h6{
    background-color: #83c9f9;

    border-style: solid;
    border-width: 10px;
    text-align: center;
    font-size: 110px;
    margin: 0px;
    flex: 1;
}

/* Middle section */
.middle{
    flex: 1;
    display: flex;
    background-color: #cc99cc;
    border-width: 10px;
}
/*Middle section Menu*/
#left{ 
    border-style: solid;
    justify-content: flex-start;
    border-top-style: none;
    border-bottom-style: none;
    border-width: 10px;
    flex: 1;
    background-color: #cc99cc;
}
#left h1{
    text-align: center;
    font-size: 40px;
    margin: 0px;
}
#left h2{
    text-align: left;
    font-size: 40px;
    margin: 0px;
}

/* Middle content section */
main{
    flex: 2;
    background-color: #f8cbcc;
    border-style: solid;
    border-width: 1px;
}
main > h1{
    font-size: 70px;
    text-align: center;
    margin: 0px;
}
main > p{
    font-size: 22px;
    margin: 0px 0px 30% 0px;

}

/* Middle AD Content */
#right{
    border-style: solid;
    border-top-style: none;
    border-bottom-style: none;
    border-width: 10px;
    flex: 1;
}
#right > h1{
    font-size: 80px;
    text-align: center;
    margin: 10px 0px;
}


@media only screen and (max-width: 1000px){
    #right{
        display: none;
    }
    main{
        border-right-width: 10px;
        border-style: solid;
    }
}

@media only screen and (max-width: 600px){
    .middle{
        flex-direction: column;
        
    }
    main{
        border-width: 10px;
        border-style: solid;
    }
    #right{
        display: block;
    }
}
